{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hemis | Sign in</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form method="post" class="form">{% csrf_token %}
        <h1 class="title">Sign In</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="johndoe" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="••••••" id="password" name="password">
        </div>
        <div class="form-group">
            <button class="submit">
                Login
            </button>    
        </div>
        {% if error %}
            <p class="error">
                {{ error }}
            </p>
        {% endif %}
    </form>
</body>
</html>