* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    button {
        padding: 10px 20px;
        background-color: dodgerblue;
        color: white;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:active {
            background-color: #0a67c4;
        }
    }


    .modal {
        width: 100vw;
        height: 100vh;
        background-color: #0000007a;
        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;


        .modal-content {
            padding: 10px;
            background-color: white;
            width: 300px;
            height: 500px;
            position: relative;

            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);




            .close {
                background-color: #0000001f;
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                top: 3px;
                right: 3px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .d-none {
        display: none;
    }

    .modal-content-anim {
        animation-name: modal-content-anim;
        animation-duration: .3s;
    }

    .modal-anim {
        animation-name: modal-anim;
        animation-duration: .1s;
    }



    @keyframes modal-content-anim {
        0% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes modal-anim {
        0% {
            background-color: #ffffff00;
        }

        100% {
            background-color: #0000007a;
        }
    }
}